.theme-color {
  width: 100%;

  .pick-color{
    justify-content: space-between;

    .color {
      input[type="radio"] {
        border-radius: 50%;
        width: 2.75rem;
        height: 2.75rem;
        padding: 0;
        border: .5rem solid var(--shape-button);
        cursor: pointer;
        transition: outline .2s ease;
        background-color: #59B2FF; 

        &:hover {
          outline: 1.5px solid var(--brand-light);
        }

        &:checked {
          outline: 2px solid var(--brand-light);
        }
      }

      &:nth-child(2) input { 
        background-color: #6A59FF; 
      }

      &:nth-child(3) input { 
        background-color: #B259FF; 
      }

      &:nth-child(4) input { 
        background-color: #FF59F9; 
      }

      &:nth-child(5) input { 
        background-color: #FF598B; 
      }

      &:nth-child(6) input { 
        background-color: #FF5959; 
      }

      &:nth-child(7) input { 
        background-color: #FF5959; 
      }

      &:nth-child(8) input { 
        background-color:#FF8B59; 
      }

      &:nth-child(9) input { 
        background-color: #FFCD59;
      }

      &:nth-child(10) input {
        background-color: #E1FF59; 
      }

      &:nth-child(11) input {
        background-color: #59FF91; 
      }

      &:nth-child(12) input {
        background-color: #59FFF9; 
      }
    }
  }
}

.theme {
  
  .theme-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-block: 1rem;
    gap: .75rem;
    

    .category-inner {  
      display: grid;
      justify-items: center;
      position: relative;
      
      background-color: var(--shape-button);
      border: 1px solid var(--input-stroke);
      padding: .25rem;
      border-radius: .5rem;
      cursor: pointer;

      img {
        width: 100%;
        height: 5rem;
        object-fit: cover;
        border-radius: .5rem;
      }
      
      input {
        all: unset;
        position: absolute;
        inset: 0;
    
        &:hover {
          outline: 2px solid var(--brand-light);
          border-radius: .5rem;
        }

        &:checked {
          outline: 2px solid var(--brand-light);
          border-radius: .5rem;
        }
      }

      label {
        margin-top: .5rem;
      }
      
    }

    
  } 
}