form {
  width: 100%;
}

fieldset {
  
  border: none;
  display: grid;
  gap: 1rem;
  margin-top: 2.5rem;

}

label {
  font: var(--body-sm);
}


.title-wrapper {
  display: flex;
  gap: .75rem;

  .calendar-img, paintbrush-img {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--input-placeholder);
  }
}


legend {
  font: 600 1.125rem/1.6 'Baloo 2', sans-serif;
  margin-bottom: 1.5rem;
  color: var(--text-heading);
}