.terms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block: 2.5rem;
  border-top: 1px solid var(--input-stroke);
  margin-top: 3rem;

  .input-terms {
    gap: .75rem;
    display: flex;
    align-items: center;
    font: var(--body-md);

   

    input[type="checkbox"] {
      appearance: none;
      
      width: 1.25rem;
      height: 1.25rem;
      padding: 0;
      border: 1px solid var(--input-stroke);
      border-radius: .125rem;
      background-color: var(--input-base);
      margin: 0;
      cursor: pointer;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 1rem;

      &:checked {
        background-image: url(../assets/icons/checked.svg);
        border: 1px solid transparent;
        outline: 1px solid var(--brand-light);
        align-items: center;
      }
      
    }

    strong {
      color: var(--brand-light);
      transition: .2s;

      &:hover {
        text-decoration: underline;
        color: var(--brand-light);
        cursor: pointer;
      }
    }
  }

  
}